@(statusCode: Int, message: String)(implicit currentApplicationUser: Option[ApplicationUser] = None, flash: Flash, messages: Messages)


@main{

   <div class="container-fluid" role="alert">
      <div class="alert alert-danger" role="alert">
         <h3>@statusCode @messages("error.client.title")</h3>
      </div>
   </div>

   <div class="well">
      <h4>@messages("error.client.description")</h4>
      <p>@message</p>
      <p><a href="@routes.Application.index">@messages("error.link")</a></p>
   </div>
}
