@()(implicit currentApplicationUser: Option[ApplicationUser] = None, flash: Flash, messages: Messages)


@main{

   <div class="container-fluid" role="alert">
      <div class="alert alert-danger" role="alert">
         <h3>@messages("error.internalserver.title")</h3>
      </div>
   </div>

   <div class="well">
      <p>@messages("error.internalserver.description")</p>
      <p><a href="@routes.Application.index">@messages("error.link")</a></p>
   </div>
}
