@(whosFound: Seq[Who])


<div class="wholist clearfix">
    @for( who <- whosFound){
        @who.id.map{ whoId =>
            <div class="whoentry well well-sm" onclick="window.location='@routes.WhoController.showWho(whoId)'">
                    <p class="whoname">
                        <a href="@routes.WhoController.showWho(whoId)">@who.name</a>
                    </p>
            </div>
        }
   }
</div>

<div style="clearfix"></div>
