@(searchForm: Form[Option[String]], whosFound: Seq[Who])(implicit messages: Messages)
@import helper._


<section class="bigsearchbox well text-center">

    @form(action = routes.SearchController.findWho, 'class -> "form-search" ){
    <div class="input-append">
        <input type="text" name="searchtext" class="input-large search-query" value="@searchForm("searchtext").value.getOrElse("")" placeholder=""/>
        <button type="submit" class="btn btn-primary">@messages("front.find")</button>
    </div>
    }
</section>

@if(!whosFound.isEmpty){

    @if(whosFound.size>=20){
        <div class="well alert-warning">@messages("search.toomany")</div>
    }

    <section class="well text-centered">

        @listwhos(whosFound)

    </section>
}
