
body { background-color: #88bbff; max-width: 53em; min-width: 20em; }

header.well, section.well { border: 1px outset silver; }
.well { margin: 1em;  }

header.well { padding: 0; text-align: center; }
header.well h1 { display: none;  }
header.well img { clear: both; margin: 1em 1em 1em 1em; width: 244px; height: 52px; }

.well-navigation { padding: 0 0.5em 1.5em 0.5em; }
navigation { float: right; margin: 0 1em 0 0; padding: 0.1em 1em; overflow: hidden;  }
navigation #logoutusername { font-size: 0.8em; max-width: 10em; }

.horizontal { white-space: nowrap; margin-right: 0.5em; }
.horizontal li { list-style: none; display: inline; white-space: nowrap; }
navigation .horizontal li a { margin-right: 0.5em; }

.bigsearchbox {
    padding: 3.5em 2em 20 em 2em 2em;
}


.list-alternate{
    text-align: center;
}

.list-alternate li {
    list-style: none;
}
.list-alternate li:nth-child(even){

}
.list-alternate li:nth-child(odd){
    background-color: #ddd;
}

.child-list li, .partner-list li {
    list-style: none;
}

.child-list li article, .partner-list li article{
    /* margin: 0.2em 3em;
    padding: 0.2em 3em;*/
}

.partner-list li article.ex-partner{
    text-decoration: line-through;
}


.partner-list li article.complicated-partner{
    font-style: italic;
}

.child-list li .child-name { font-size: 1.2em; font-weight: bold;}
.child-list li article .muted { font-size: 0.8em; }


.wholist {
    list-style: none;
    text-align: center;
    margin: 0 2em;
}

.wholist .whoentry {
    float: left;
    max-width: 9.9em;
    height: 1.5em;
    vertical-align: middle;
    overflow: hidden;
    margin: 0.2em;
    cursor: hand;
    padding: 0 9px 21px 9px;
    moz-transition-duration: 3s;
    o-transition-duration: 3s;
    webkit-transition-duration: 3s;
    transition-duration: 3s;;
}

.wholist .whoentry:hover {
    background-color: silver;
}
.wholist .whoentry:active {
    moz-transition-duration: 1s;
    o-transition-duration: 1s;
    webkit-transition-duration: 1s;
    transition-duration: 1s;
    background-color: #f0d0d0;
}
.wholist .whoentry a {
    text-decoration: none;
}

.wholist .whoentry .whoname {
    white-space: nowrap;
    max-width: 9.5em;
    overflow: hidden;
}

