@()(implicit messages: Messages)
@import helper._


<section class="well text-center">

    @form(action = routes.WhoController.addWho, 'class -> "form-inline" ){
        <input type="text" name="name" maxlength="100" class="input-large" required placeholder="" title="@messages("front.add.title")"/>
        <button type="submit" class="btn btn-success">@messages("front.add")</button>
    }

</section>

