@(who: Who)(implicit messages: Messages)
@import models.Gender._

@for(whoId <- who.id){
    <section class="well" id="children-well">

        @if(!who.children.isEmpty){

            @if(who.children.size > 1 ){
                <h3>@messages("child.plural.title")</h3>
            }

            <ul class="child-list">
                @for( child <- who.children){
                    @for( childId <- child.id){
                        <li class="child">
                            <article class="child-name col-sm-offset-1">
                               @if(who.children.size == 1 ){
                                    @messages("child.single.row")
                                }
                                <a href="@routes.ChildController.showEditChildOfWho(whoId,childId)" class="">
                                    @child.gender.toString match {
                                        case "Female" => {
                                            @messages("child.daughter"):
                                        }
                                        case "Male" => {
                                            @messages("child.son"):
                                        }
                                    }
                                    @child.name.map{ name =>
                                        @name
                                    }
                                </a>
                                @child.birthYear.map { birthYear =>
                                    - <span class="muted"> @messages("child.born") @birthYear</span>
                                }
                            </article>
                        </li>
                    }
                }
            </ul>
        }


        <div class="form-group row container-fluid">
            <div class="col-sm-3 col-sm-offset-9">
                <a href="@routes.ChildController.showAddChildToWho(whoId)"
                    @if(who.children.isEmpty){
                        class="btn btn-primary btn-block">@messages("child.add.first.action")
                    } else {
                        class="btn btn-small btn-primary btn-block">@messages("child.add.more.action")
                    }
                </a>
            </div>
        </div>

    </section>
}
