@(who: Who)(implicit messages: Messages)


@for(whoId <- who.id){
    <section class="well" id="partner-well">

        @if(!who.partners.isEmpty ){
            @if(who.partners.size > 1 ){
                <h3>@messages("partner.title.2")</h3>
                <p>
                    <em>@messages("partner.description")</em>
                </p>
            }
            <ul class="partner-list">
                @who.partners.map{ partner =>
                    @for(partnerId <- partner.id){
                        <li>
                            <article class="col-sm-offset-1 @partner.relationship match {
                                case Some("Ex") => { ex-partner }
                                case Some("Divorced") => { ex-partner }
                                case Some("Complicated") => { complicated-partner }
                                case _ => {  }
                            } ">
                                <h4>
                                @partner.relationship match {
                                    case Some("Married") if who.gender.isEmpty => { @messages("partner.relationship.married") }
                                    case Some("Married") => { @messages(s"partner.relationship.married.${who.gender}") }
                                    case Some("Engaged") => { @messages("partner.relationship.engaged") }
                                    case Some("Friend") if who.gender.isEmpty => { @messages("partner.relationship.friend") }
                                    case Some("Friend") => { @messages(s"partner.relationship.friend.${who.gender}") }
                                    case Some("Divorced") => { @messages("partner.relationship.divorced") }
                                    case Some("Widow") => { @messages("partner.relationship.widow") }
                                    case Some("Ex") => { @messages("partner.relationship.ex") }
                                    case Some("Complicated") => { @messages("partner.relationship.complicated") }
                                    case Some("Partner") => { @messages("partner.relationship.partner") }
                                    case _ => {  }
                                }
                                    <a href="@routes.PartnerController.showEditPartnerOfWho(whoId,partnerId)" class="">@partner.name</a>
                                </h4>
                            </article>
                        </li>
                    }
                }
            </ul>
        }

        <div class="form-group row container-fluid">
            <div class="col-sm-3 col-sm-offset-9">
                <a href="@routes.PartnerController.showAddPartnerToWho(whoId)"
                    @if(who.partners.isEmpty ){
                        class="btn btn-primary btn-block">@messages("partner.add.action")
                    } else {
                        class="btn btn-small btn-default btn-block">@messages("partner.add.another.action")
                    }
                </a>
            </div>
        </div>

    </section>
}
