@(who: Who, nameForm: Form[String], notesForm: Form[String])(implicit currentApplicationUser: Option[ApplicationUser], flash: Flash, messages: Messages)
@import helper._

@main {

    <section class="well text-center">

    	<h2>@who.name</h2>

    </section>


    @partners(who)


    @children(who)


    @for(whoId <- who.id){
        @if(notesForm("notes").error.isDefined){
            <div class="alert alert-danger">
            @notesForm("notes").error.get.message match {
                case "error.minLength" =>{ @messages("error.too.short") }
                case "error.maxLength" => { @messages("error.too.long") }
                case _ => { @messages("error.field.problem") }
            }
            </div>
        }
        <section class="well">
        @form(action = routes.WhoController.updateNotes(whoId), 'class -> "" ){
            <div class="form-group @if(notesForm("notes").error.isDefined){ has-error }">
                <div class="">
                    <textarea class="form-control" rows="6" id="notes" name="notes" placeholder="" maxlength="999">@notesForm("notes").value.getOrElse(who.notes)</textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3 col-sm-offset-9">
                    <button type="submit" class="btn btn-success btn-block">@messages("who.notes.action")</button>
                </div>
            </div>
        }
        </section>


        @if(nameForm("name").error.isDefined){
            <div class="alert alert-danger">
            @nameForm("name").error.get.message match {
                case "error.minLength" =>{ @messages("error.too.short") }
                case "error.maxLength" => { @messages("error.too.long") }
                case _ => { @messages("error.field.problem") }
            }
            </div>
        }
        <section class="well">
            <div class="">
                @form(action = routes.WhoController.updateName(whoId), 'class -> "form-horizontal" ){
                    <div class="form-group container-fluid">
                        <div class="col-sm-offset-2">
                            <input type="text" id="namefield" class="form-control" name="name" maxlength="100" required
                                placeholder="@messages("who.name.placeholder")" value="@nameForm("name").value.getOrElse(who.name)"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3 col-sm-offset-9">
                            <button type="submit" class="btn btn-warning btn-block">@messages("who.name.action")</button>
                        </div>
                    </div>
                }
            </div>
        </section>

        <section class="well text-right">
            @form(action = routes.WhoController.deleteWho(whoId), 'class -> "form-horizontal" ){
            <p>
                <input type="hidden" name="name" maxlength="100" class="input-large" />
                <div class="form-group row">
                    <div class="col-sm-3 col-sm-offset-9">
                        <button type="submit" class="btn btn-danger btn-block">@messages("who.delete.action")</button>
                    </div>
                </div>
            </p>
            }
        </section>
    }

    <section class="well text-right">

        <div class="form-group row">
            <div class="col-sm-3 col-sm-offset-9">
                <a class="btn btn-default btn-block" href="@routes.Application.index">@messages("find.others")</a>
            </div>
        </div>

     </section>

}
