@(who: Who, childForm: Form[Child] )(implicit currentApplicationUser: Option[ApplicationUser], flash: Flash, messages: Messages)
@import helper._

<fieldset>

    @if(childForm("name").error.isDefined){
        <div class="alert alert-danger">
            @childForm("name").error.get.message match {
                case "error.minLength" =>{ @messages("error.too.short") }
                case "error.maxLength" => { @messages("error.too.long") }
                case _ => { @messages("error.field.problem") }
            }
        </div>
    }
    <div class="form-group @if(childForm("name").error.isDefined){ has-error }">
        <label class="control-label col-sm-2" for="child.name">
             @messages("name.title")
        </label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="child.name" name="name" placeholder="@messages("child.name.placeholder")"
               maxlength="120" value="@childForm("name").value.getOrElse("")" />
        </div>
    </div>



    @if(childForm("gender.name").error.isDefined){
        <div class="alert alert-danger">@childForm("gender.name").error.get.message</div>
    }
    <div class="form-group @if(childForm("gender.name").error.isDefined){ has-error }">
        <label class="control-label col-sm-2" for="child.gender">
            @messages("gender.title")
        </label>
        <div class="col-sm-6">
            <div class="radio">
               <label class="">
                   <input type="radio" name="gender.name" value="Female" required
                     @if(childForm("gender.name").value.getOrElse("") == "Female"){checked} />
                   @messages("gender.girl")
               </label>
            </div>
            <div class="radio">
               <label class="">
                   <input type="radio" name="gender.name" value="Male" required
                     @if(childForm("gender.name").value.getOrElse("") == "Male"){checked} />
                   @messages("gender.boy")
               </label>
            </div>
        </div>
    </div>



    @if(childForm("birthyear").error.isDefined){
        <div class="alert alert-danger">@childForm("birthyear").error.get.message</div>
    }
    <div class="form-group @if(childForm("birthyear").error.isDefined){ has-error }">
        <label class="control-label col-sm-2" for="child.birthYear">
            @messages("birthyear.title")
        </label>
        <div class="col-sm-2">
            <select class="form-control" id="child.birthYear" name="birthyear" size="2">
                @for( birthYear <- 2013 to (1970,-1) ){
                    <option
                    @if( childForm("birthyear").value.getOrElse("") == s"$birthYear"){ selected}
                    >@birthYear</option>
                }
            </select>
        </div>
    </div>

</fieldset>

<fieldset>

    @if(childForm("notes").error.isDefined){
        <div class="alert alert-danger">
        @childForm("notes").error.get.message match {
            case "error.minLength" =>{ @messages("error.too.short") }
            case "error.maxLength" => { @messages("error.too.long") }
            case _ => { @messages("error.field.problem") }
        }
        </div>
    }

    <div class="form-group @if(childForm("notes").error.isDefined){ has-error }">
        <label class="control-label col-sm-2" for="child.notes">
            @messages("notes.title")
        </label>
        <div class="col-sm-offset-2 container-fluid">
            <textarea class="form-control" rows="3" id="child.notes" name="notes" placeholder="" maxlength="999">@childForm("notes").value.getOrElse("")</textarea>
        </div>
    </div>

</fieldset>
