@(who: Who, child: Child, childForm: Form[Child])(implicit currentApplicationUser: Option[ApplicationUser], flash: Flash, messages: Messages)
@import helper._

@main {

    @for(whoId <- who.id){
        @for(childId <- child.id){

            <div class="well ">

                <h2>@messages("child.edit.title"): @child.name</h2>
                <h4>
                    @if(child.gender == "Female"){
                        @messages("gender.daughter")
                    } else { @if(child.gender == "Male"){
                        @messages("gender.son")
                        } else {
                            @messages("gender.none")
                        }
                    }
                    <a href="@routes.WhoController.showWho(whoId)" class="">@who.name</a>
                </h4>

            </div>


            <div class="well">

                @if(childForm.hasGlobalErrors){
                    <div class="alert alert-danger">
                        @messages("error.form")
                        <!-- <p>@childForm.globalErrors.head.key | @childForm.globalErrors.head.message</p> -->
                    </div>
                }

                @if(childForm.hasErrors){
                    <div class="alert alert-danger">
                        @messages("error.form")
                        <!-- <p>@childForm.errors.head.key | @childForm.errors.head.message</p> -->
                    </div>
                }


                @form(action = routes.ChildController.updateChildOfWho( whoId, childId), 'class -> "form-horizontal" ){

                    <input name="who.id" type="hidden" value="@whoId" />
                    <input name="who.name" type="hidden" value="@who.name" />
                    <input name="id" type="hidden" value="@childId" />

                    @childFields(who,childForm)

                    <div class="form-group">
                         <div class="col-sm-3 col-sm-offset-6">
                            <button type="submit" class="btn btn-success btn-block">@messages("child.update.action")</button>
                        </div>
                         <div class="col-sm-3">
                            <input type="reset" class="btn btn-warning btn-block" value="@messages("reset.action")"/>
                        </div>
                    </div>

                }

            </div>


            <div class="well">
                @form(action = routes.ChildController.removeChildFromWho(whoId, childId), 'class -> "form-horizontal" ){
                    <input type="hidden" name="name" maxlength="100" class="input-large" />
                    <div class="form-group row">
                         <div class="col-sm-3 col-sm-offset-9">
                            <button type="submit" class="btn btn-danger btn-block">@messages("child.remove.action")</button>
                        </div>
                    </div>
                }
            </div>

            <div class="well">

                <div class="form-group row">
                     <div class="col-sm-3 col-sm-offset-9">
                        <a href="@routes.WhoController.showWho(whoId)" class="btn btn-default btn-block">@messages("return.action")</a>
                    </div>
                </div>
            </div>
        }
    }
}
