@(who: Who, childForm: Form[Child] )(implicit currentApplicationUser: Option[ApplicationUser], flash: Flash, messages: Messages)
@import helper._

@main {

    @for(whoId <- who.id){

        <section class="well ">

            <h2>@messages("child.add.title") <a href="@routes.WhoController.showWho(whoId)" class="">@who.name</a></h2>

        </section>

        <section class="well">

            @if(childForm.hasGlobalErrors){
                <div class="alert alert-error">
                    @messages("error.form")
                </div>
            }

            @if(childForm.hasErrors){
                <div class="alert alert-error">
                    @messages("error.form")
                </div>
            }

            @form(action = routes.ChildController.addChildToWho(whoId), 'class -> "form-horizontal" ){

                <input name="who.id" type="hidden" value="@whoId" />
                <input name="who.name" type="hidden" value="@who.name" />


                @childFields(who,childForm)


                <div class="form-group container-fluid text-right">
                    <div class="col-sm-3 col-sm-offset-9">
                        <button type="submit" class="btn btn-success btn-block">@messages("child.add.first.action")</button>
                    </div>
                </div>

            }


        </section>


        <div class="well">

            <div class="form-group row container-fluid">
             <div class="col-sm-3 col-sm-offset-9">
                    <a href="@routes.WhoController.showWho(whoId)" class="btn btn-default btn-block">@messages("return.action")</a>
                </div>
            </div>

        </div>
    }

}