@(who: Who, partnerForm: Form[Partner])(implicit currentApplicationUser: Option[ApplicationUser], flash: Flash, messages: Messages)
@import helper._


<fieldset>

   @if(partnerForm("name").error.isDefined){
       <div class="alert alert-danger">
           @partnerForm("name").error.get.message match {
               case "error.minLength" =>{ @messages("error.too.short") }
               case "error.maxLength" => { @messages("error.too.long") }
               case _ => { @messages("error.field.problem") }
           }
       </div>
   }
   <div class="form-group @if(partnerForm("name").error.isDefined){ has-error }">
       <label class="control-label col-sm-2" for="partner.name">
            @messages("register.name")
       </label>
       <div class="col-sm-6">
           <input type="text" class="form-control" id="partner.name" name="name"
           placeholder="@messages("partner.name.placeholder")" required maxlength="120"
           value="@partnerForm("name").value.getOrElse("")" />
       </div>
   </div>


   @if(partnerForm("gender.name").error.isDefined){
       <div class="alert alert-danger">@partnerForm("gender.name").error.get.message</div>
   }
   <div class="form-group @if(partnerForm("gender").error.isDefined){ has-error }">
       <label class="control-label col-sm-2" for="partner.gender">
           @messages("gender.title")
       </label>
       <div class="col-sm-6">
           <div class="radio">
               <label class="radio-inline">
                   <input type="radio" name="gender.name" id="partner.gender.1" value="Female" required
                    @if(partnerForm("gender.name").value.getOrElse("") == "Female"){checked} />
                    @messages("gender.female")
               </label>
           </div>
           <div class="radio">
               <label class="radio-inline">
                   <input type="radio" name="gender.name" id="partner.gender.2" value="Male" required
                     @if(partnerForm("gender.name").value.getOrElse("") == "Male"){checked} />
                    @messages("gender.male")
               </label>
           </div>
       </div>
   </div>


   @if(partnerForm("relationship").error.isDefined){
       <div class="alert alert-danger">@partnerForm("relationship").error.get.message</div>
   }
   <div class="form-group @if(partnerForm("relationship").error.isDefined){ has-error }">
       <label class="control-label col-sm-2" for="partner.relationship">
            @messages("partner.relationship")
       </label>
       <div class="col-sm-6">
           <div class="radio">
               <label>
                   <input type="radio" name="relationship" id="partner.relationship.1" value="Married" required
                   @if(partnerForm("relationship").value.getOrElse("") == "Married"){checked} />
                   @messages("partner.relationship.married.title")
               </label>
           </div>

           <div class="radio">
               <label>
                   <input type="radio" name="relationship" id="partner.relationship.2" value="Engaged"
                   @if(partnerForm("relationship").value.getOrElse("") == "Engaged"){checked} />
                   @messages("partner.relationship.engaged.title")
               </label>
           </div>

           <div class="radio">
               <label>
                   <input type="radio" name="relationship" id="partner.relationship.3" value="Partner"
                       @if(partnerForm("relationship").value.getOrElse("") == "Partner"){checked} />
                   @messages("partner.relationship.partner.title")
            </label>
           </div>

           <div class="radio">
               <label>
                <input type="radio" name="relationship" id="partner.relationship.4" value="Friend"
                   @if(!partnerForm("relationship").value.isDefined ||
                       partnerForm("relationship").value.getOrElse("") == "Friend"){checked} />
                   @messages("partner.relationship.friend.Female.title") / @messages("partner.relationship.friend.Male.title")
               </label>
           </div>

           <div class="radio">
               <label>
                   <input type="radio" name="relationship" id="partner.relationship.6" value="Ex"
                       @if(partnerForm("relationship").value.getOrElse("") == "Ex"){checked} />
                   @messages("partner.relationship.ex.title")
               </label>
           </div>

           <div class="radio">
               <label>
                   <input type="radio" name="relationship" id="partner.relationship.7" value="Divorced"
                       @if(partnerForm("relationship").value.getOrElse("") == "Divorced"){checked} />
                   @messages("partner.relationship.divorced.title")
               </label>
           </div>

           <div class="radio">
               <label>
                   <input type="radio" name="relationship" id="partner.relationship.8" value="Widow"
                       @if(partnerForm("relationship").value.getOrElse("") == "Widow"){checked} />
                   @messages("partner.relationship.widow.title")
            </label>
           </div>

           <div class="radio">
               <label>
                   <input type="radio" name="relationship" id="partner.relationship.5" value="Complicated"
                      @if(partnerForm("relationship").value.getOrElse("") == "Complicated"){checked} />
                   @messages("partner.relationship.complicated.title")
               </label>
           </div>

           <div class="radio">
               <label>
                   <input type="radio" name="relationship" id="partner.relationship.9" value="Unknown"
                      @if(partnerForm("relationship").value.getOrElse("") == "Unknown" ||
                           partnerForm("relationship").value.isEmpty){checked} />
                   @messages("partner.relationship.unknown.title")
               </label>
           </div>
       </div>
   </div>

</fieldset>

<fieldset>

   @if(partnerForm("notes").error.isDefined){
       <div class="alert alert-danger">
       @partnerForm("notes").error.get.message match {
           case "error.minLength" =>{ @messages("error.too.short") }
           case "error.maxLength" => { @messages("error.too.long") }
           case _ => { @messages("error.field.problem") }
       }
       </div>
   }

   <div class="form-group @if(partnerForm("notes").error.isDefined){ error }">
       <label class="control-label col-sm-2" for="partner.notes">
           @messages("notes.title")
       </label>
       <div class="container-fluid col-sm-offset-2">
           <textarea class="form-control" id="partner.notes" rows="3" name="notes" placeholder="" maxlength="999">@partnerForm("notes").value.getOrElse("")</textarea>
       </div>
   </div>

</fieldset>
