@(who: Who, partnerForm: Form[Partner] )(implicit currentApplicationUser: Option[ApplicationUser], flash: Flash, messages: Messages)
@import helper._

@main {

  @for(whoId <- who.id){
    <section class="well ">

        <h2>@messages("partner.add.title")</h2>
        <h3><a href="@routes.WhoController.showWho(whoId)">@who.name</a></h3>

    </section>

    <section class="well">

        @if(partnerForm.hasGlobalErrors){
            <div class="alert alert-error">
                @messages("error.form")
            </div>
        }

        @if(partnerForm.hasErrors){
            <div class="alert alert-error">
                @messages("error.form")
            </div>
        }


          @form(action = routes.PartnerController.addPartnerToWho(whoId), 'class -> "form-horizontal" ){

              <input name="who.id" type="hidden" value="@whoId" />
              <input name="who.name" type="hidden" value="@who.name" />


              @partnerFields(who,partnerForm)


              <div class="form-group text-right container-fluid">
                 <div class="col-sm-3 col-sm-offset-9">
                     <button type="submit" class="btn btn-success btn-block">@messages("partner.add.action")</button>
                 </div>
              </div>

          }

    </section>

    <div class="well">
      <div class="form-group row container-fluid">
         <div class="col-sm-3 col-sm-offset-9">
            <a href="@routes.WhoController.showWho(whoId)" class="btn btn-default btn-block">@messages("return.action")</a>
         </div>
      </div>
    </div>

  }
}
