@(who: Who, partner: Partner, partnerForm: Form[Partner])(implicit currentApplicationUser: Option[ApplicationUser], flash: Flash, messages: Messages)
@import helper._

@whoLink = {
    @for(whoId <- who.id){
        <a href="@routes.WhoController.showWho(whoId)" class=""> @who.name</a>
    }
}

@main {

    <section class="well ">

        <h2>Partner:  @partner.name</h2>

        @partner.relationship match{
            case Some("Married") => {
                <h4>@messages(s"partner.relationship.married.${partner.gender}") @whoLink</h4>
            }
            case Some("Engaged") => {
                <h4>@messages(s"partner.relationship.engaged") @whoLink</h4>
                <h4>@partner.gender</h4>
            }
            case Some("Partner") => {
                <h4>@messages(s"partner.relationship.partner") @whoLink</h4>
                <h4>@partner.gender</h4>
            }
            case Some("Friend")  => {
                <h4>@messages(s"partner.relationship.friend.${partner.gender}") @whoLink</h4>
            }
            case Some("Ex") => {
                <h4>@messages(s"partner.relationship.ex") @whoLink</h4>
                <h4>@partner.gender</h4>
            }
            case Some("Divorced") => {
                <h4>@messages(s"partner.relationship.divorced") @whoLink</h4>
                <h4>@partner.gender</h4>
            }
            case Some("Widow") => {
                <h4>@messages(s"partner.relationship.widow") @whoLink</h4>
                <h4>@partner.gender</h4>
            }
            case Some("Complicated") => {
                <h4>@messages(s"partner.relationship.complicated") @whoLink</h4>
                <h4>@partner.gender</h4>
            }
            case _ => {
                <h4>@partner.gender</h4>
            }
        }



    </section>

    @for(whoId <- who.id){
        @for(partnerId <- partner.id){
            <section class="well ">

                @if(partnerForm.hasGlobalErrors || partnerForm.hasErrors){
                    <div class="alert alert-danger">
                        Unfortunately there was some errors with your form
                        @* <p>@partnerForm.globalErrors.head.key | @partnerForm.globalErrors.head.message</p> *@
                    </div>
                }

                @form(action = routes.PartnerController.updatePartnerOfWho(whoId, partnerId), 'class -> "form-horizontal" ){

                    <input name="who.id" type="hidden" value="@whoId" />
                    <input name="who.name" type="hidden" value="@who.name" />
                    <input name="id" type="hidden" value="@partnerId" />


                    @partnerFields(who,partnerForm)


                    <div class="form-group">
                        <div class="col-sm-3 col-sm-offset-6">
                            <button type="submit" class="btn btn-success btn-block">update partner</button>
                        </div>
                        <div class="col-sm-3">
                            <input type="reset" class="btn btn-warning btn-block" value="reset form"/>
                        </div>
                    </div>

                }

            </section>


            <section class="well">
                @form(action = routes.PartnerController.removePartnerFromWho(whoId, partnerId), 'class -> "form-horizontal" ){
                 <div class="form-group row">
                    <div class="col-sm-3 col-sm-offset-9">
                       <button type="submit" class="btn btn-danger btn-block">delete this partner</button>
                    </div>
                 </div>
              }
            </section>


            <div class="well">

                <div class="form-group row">
                 <div class="col-sm-3 col-sm-offset-9">
                        <a href="@routes.WhoController.showWho(whoId)" class="btn btn-default btn-block">@messages("return.action")</a>
                    </div>
                </div>

            </div>
        }
    }

}
