@()(implicit currentApplicationUser: Option[ApplicationUser], flash: Flash, messages: Messages)


@main{

	@about()


	<section class="well">

		<h3>@messages("contact.title")</h3>

		<p>
			The project website is at
			<a href="https://bitbucket.org/flurdy/who-to">bitbucket.org/flurdy/who-to</a>
		</p>
		<p>
			The lead developer is
			<a href="http://twitter.com/flurdy">@@flurdy</a>
		</p>

	</section>


}
