@()(implicit messages: Messages)
	<section class="well">


		<h3>@messages("about.title")</h3>

		<p>
			Of the people you are connected to, who are their immediate families?
		</p>
		<p>
			What is the name of your friends' wifes, boyfriends, children, parents?
			How do you spell those again?
			After a while you start to forget and mix up people's connections.
		</p>
		<p>
			Other contact lists are for yours friends only, not their connection.
			With Facebook etc is up to your connections to add their relevant immediate connections and most don't.
		</p>
		<p>
			This app is here to help you remember people's spouses', exes', etc names.
			You will never be embarrassed when meeting them again or writing birthday cards.
		</p>
		<p>
			And only that. One purpose and do it well.
		</p>

	</section>