@(simpleRegistrationForm: Form[ApplicationUser],loginForm: Form[(String,String)])(implicit currentApplicationUser: Option[ApplicationUser], flash: Flash, messages: Messages)

@import models._
@import jp.t2v.lab.play2.auth._

@main {

	@about()

	@if(!currentApplicationUser.isDefined){
     <div class="well row">
       <div class="col-sm-4 col-sm-offset-1">
 		      @registertile(simpleRegistrationForm)
       </div>

       <div class="col-sm-4 col-sm-offset-2">
 		     @logintile(loginForm, false)
      </div>
    </div>
  }
}
