@(loginForm: Form[(String,String)], singlePage: Boolean)(implicit messages: Messages)
@import helper._


<section class="">


	<h3>@messages("login.title")</h3>


	@if(loginForm.hasGlobalErrors){
		<div class="alert alert-error">
			@loginForm.globalErrors.head.message
		</div>
	}

	@form(action = routes.RegistrationAuthentication.loginProcess(), 'class -> "form-horizontal" ){

		<div class="form-group">
			@if(singlePage){
				<label class="control-label col-sm-4" for="username">
					@messages("login.username")
				</label>
				<div class="col-sm-6">
			}
			<input type="text" class="form-control" id="username" name="username" placeholder="@messages("register.username.placeholder")" maxlength="120" required value="@loginForm("username").value.getOrElse("")"/>
			@if(singlePage){ </div> }
		</div>

		<div class="form-group">
			@if(singlePage){
				<label class="control-label col-sm-4" for="password">
					@messages("login.password")
				</label>
				<div class="col-sm-6">
			}
			<input type="password" class="form-control" id="password" name="password" placeholder="@messages("login.password.placeholder")" maxlength="120" required/>
			@if(singlePage){ </div> }
		</div>

		<div class="form-group row">
			<div class="@if(singlePage){ col-sm-3 col-sm-offset-9 }">
				<button type="submit" class="btn btn-success btn-block">@messages("login.action")</button>
			</div>
		</div>
	}

</section>
