@(loginForm: Form[(String,String)])(implicit flash: Flash, messages: Messages)

@main {


      <div class="well container-fluid">
		   @logintile(loginForm, true)
      </div>

		<div class="well">
         <div class="form-group row">
            <div class="col-sm-3 col-sm-offset-6">
      			<a class="btn btn-primary btn-block" href="@routes.RegistrationAuthentication.showRegistration">@messages("register.action")</a>
            </div>
            <div class="col-sm-3">
		       	<a class="btn btn-warning btn-block" href="@routes.OpenProfileController.showResetPassword()">reset password</a>
            </div>
         </div>
		</div>

    <div class="well">
        <div class="form-group row container-fluid">
             <div class="col-sm-3 col-sm-offset-9">
                <a href="@routes.Application.index" class="btn btn-default btn-block">@messages("cancel.action")</a>
            </div>
        </div>
    </div>

}
