@(registrationForm: Form[ApplicationUser])(implicit messages: Messages)

@import helper._

<section class="">

		<h3>@messages("register.title")</h3>

		@form(action = routes.RegistrationAuthentication.startRegistrationProcess(), 'class -> "form-horizontal" ){
         <div class="form-group">
            <input type="text" class="form-control" name="fullname" placeholder="@messages("register.name.placeholder")" maxlength="120"/>
			</div>
         <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="@messages("register.username.placeholder")" maxlength="120"/>
			</div>
         <div class="form-group">
            <div class="">
      			<button type="submit" class="btn btn-primary btn-block">@messages("register.action")</button>
            </div>
			</div>
		}

</section>
