@(simpleForm: Form[ApplicationUser],registrationForm: Form[UserCredentials])(implicit flash: Flash, messages: Messages)

@import helper._

@main {
 	<section class="well">


		<h3>@messages("register.title")</h3>

		<h4>
			@messages("register.description")
		</h4>

		<p class="dodgyfiller">&nbsp;</p>

		@if(registrationForm.hasGlobalErrors){
			<div class="well alert alert-danger">
				@registrationForm.globalErrors.head.message
			</div>
		}

		@if(registrationForm.hasErrors){
			<div class="well alert alert-danger">
				@registrationForm.errors.head.message
			</div>
		}

		@form(action = routes.RegistrationAuthentication.finishRegistrationProcess(), 'class -> "form-horizontal" ){

			<div class="form-group @if(registrationForm("applicationUser.fullname").error.isDefined){ bg-danger}">
				<label class="control-label col-sm-4" for="applicationUser.fullname">
					@messages("register.name")
				</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="applicationUser.fullname" maxlength="120"
						name="applicationUser.fullname" placeholder="@messages("register.name.placeholder")"
						value="@registrationForm("applicationUser.fullname").value.getOrElse(simpleForm("fullname").value.getOrElse(""))" />
				</div>
			</div>

			<div class="form-group @if(registrationForm("applicationUser.username").error.isDefined){ bg-danger}">
				<label class="control-label col-sm-4" for="applicationUser.username">
					@messages("register.username")
				</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="applicationUser.username"
					name="applicationUser.username" placeholder="@messages("register.username2.placeholder")"
					pattern="^[a-zA-Z0-9_\-]+$" maxlength="120" required
					title="@messages("register.username.title")"
					value="@registrationForm("applicationUser.username").value.getOrElse(simpleForm("username").value.getOrElse(""))" />
				</div>
			</div>

			<div class="form-group @if(registrationForm("applicationUser.email").error.isDefined){ bg-danger}">
				<label class="control-label col-sm-4" for="applicationUser.email">
					@messages("register.email")
				</label>
				<div class="col-sm-4">
					<input type="email" class="form-control" id="applicationUser.email" name="applicationUser.email" placeholder="@messages("register.email.placeholder")" maxlength="120" value="@registrationForm("applicationUser.email").value.getOrElse("")"/>
				</div>
			</div>

			<fieldset>
				<div class="form-group @if(registrationForm("applicationUser.passwords").error.isDefined){ bg-danger}">
					<label class="control-label col-sm-4" for="passwords.password">
						@messages("register.password")
					</label>
					<div class="col-sm-4">
						<input type="password" class="form-control" id="passwords.password" name="passwords.password" placeholder="@messages("login.password.placeholder")" maxlength="120" required/>
					</div>
				</div>

				<div class="form-group @if(registrationForm("applicationUser.passwords.confirmPassword").error.isDefined){ bg-danger}">
					<label class="control-label col-sm-4" for="passwords.confirmPassword">
						@messages("register.confirm")
					</label>
					<div class="col-sm-4">
						<input type="password" class="form-control" id="passwords.confirmPassword" name="passwords.confirmPassword" placeholder="@messages("register.confirm.placeholder")" maxlength="120" required/>
					</div>
				</div>
			</fieldset>

			<div class="form-group">
				<div class="col-sm-4 col-sm-offset-4">
					<button type="submit" class="btn btn-success btn-block">@messages("register.action.complete")</button>
				</div>
				<div class="col-sm-3">
					<input type="reset" class="btn btn-warning btn-block" value="@messages("reset.action")"/>
				</div>
			</div>
		}
	</section>

    <div class="well">
        <div class="form-group row container-fluid">
             <div class="col-sm-3 col-sm-offset-9">
                <a href="@routes.Application.index" class="btn btn-default btn-block">@messages("cancel.action")</a>
            </div>
        </div>
    </div>

}
