@(profile: ApplicationUser)(implicit currentApplicationUser: Option[ApplicationUser], flash: Flash, messages: Messages)

@import helper._


@main{

	<section class="well">

		<h3>@messages("profile.delete.title") <a href="@routes.ProfileController.showProfile(profile.userId.get)">@profile.username</a></h3>

	</section>


 	<div class="well">

		@form(action = routes.ProfileController.deleteProfile(profile.userId.get), 'class -> "form-horizontal"){

			<div class="form-group row">
				<div class="col-sm-3 col-sm-offset-9">
					<button type="submit" class="btn btn-danger btn-block">@messages("profile.delete.action")</button>
				</div>
			</div>
		}
	</div>

	<div class="well">
      <div class="form-group row">
         <div class="col-sm-3 col-sm-offset-9">
            <a href="@routes.ProfileController.showProfile(profile.userId.get)" class="btn btn-default btn-block">@messages("return.action")</a>
          </div>
      </div>
	</div>

}
