@()(implicit flash: Flash, messages: Messages)

@import helper._


@main{

 	<section class="well">

		<h3>Password reset initiated</h3>

	</section>

 	<section class="well">


 		<p>
 			If an account matches your entered username and email address,<br/>
 			then a reset password email has just been sent to that email address.
 		</p>

 		<p>
 			Please allow delays of up to 30 minutes in transmitting the email to your email provider.
 		</p>

 		<p>
 			No email will be sent if:
 		</p>

 		<ul>
 			<li>you entered an invalid username or email address</li>
 			<li>you entered the wrong email address for a valid username</li>
 			<li>the account has no email address associated</li>
		</ul>

 		<p>
 			<a href="@routes.Application.about()">Contact us</a> for any further password reset assistance.
 		</p>


	</section>

}
