@(profile: ApplicationUser, passwordForm: Form[(String,String,String,String)])(implicit currentApplicationUser: Option[ApplicationUser], flash: Flash, messages: Messages)

@import helper._


@main{

 	<section class="well">

		<h3>@messages("profile.password.title") <a href="@routes.ProfileController.showProfile(profile.userId.get)">@profile.username</a></h3>

	</section>

 	<section class="well">

		@if(passwordForm.hasErrors){
			<div class="alert alert-danger">
				@passwordForm.errors.head.message
			</div>
		}

		@form(action = routes.ProfileController.changePassword(profile.userId.get), 'class -> "form-horizontal"){

			<input type="hidden" name="username" value="@profile.username" />

			@if(passwordForm("oldPassword").error.isDefined){
				<div class="alert">@passwordForm("oldPassword").error.get.message</div>
			}
			<div class="form-group @if(passwordForm("oldPassword").error.isDefined){ has-error }">
				<label class="control-label col-sm-3" for="oldPassword">
					@messages("profile.password.current")
				</label>
				<div class="col-sm-6">
					<input type="password" class="form-control" id="oldPassword" name="oldPassword" required placeholder="@messages("profile.password.current.placeholder")" maxlength="120" value="@passwordForm("oldPassword").value.getOrElse("")" />
				</div>
			</div>


			@if(passwordForm("newPassword").error.isDefined){
				<div class="alert">@passwordForm("newPassword").error.get.message</div>
			}
			<div class="form-group @if(passwordForm("newPassword").error.isDefined){ has-error }">
				<label class="control-label col-sm-3" for="newPassword">
					@messages("profile.password.new")
				</label>
				<div class="col-sm-6">
					<input type="password" class="form-control" id="newPassword" name="newPassword" required placeholder="@messages("profile.password.new.placeholder")" maxlength="120" value="@passwordForm("newPassword").value.getOrElse("")" />
				</div>
			</div>


			@if(passwordForm("confirmPassword").error.isDefined){
				<div class="alert">@passwordForm("confirmPassword").error.get.message</div>
			}
			<div class="form-group @if(passwordForm("confirmPassword").error.isDefined){ has-error }">
				<label class="control-label col-sm-3" for="confirmPassword">
					@messages("register.confirm")
				</label>
				<div class="col-sm-6">
					<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required placeholder="@messages("profile.confirm.placeholder")" maxlength="120" value="@passwordForm("confirmPassword").value.getOrElse("")" />
				</div>
			</div>



        <div class="form-group row">
            <div class="col-sm-3 pull-right">
					<button type="submit" class="btn btn-warning pull-right">@messages("profile.password.action")</button>
				</div>
			</div>

		}
	</section>

 	<div class="well">

		<div class="form-group row container-fluid">
         <div class="col-sm-3 pull-right">
				<a href="@routes.ProfileController.showProfile(profile.userId.get)" class="btn btn-default btn-block">@messages("return.action")</a>
			</div>
		</div>

	</div>


}
