@(profile: ApplicationUser, profileForm: Form[ApplicationUser])(implicit currentApplicationUser: Option[ApplicationUser], flash: Flash, messages: Messages)

@import helper._


@main{

 	<section class="well">

		<h3>@messages("profile.title") <a href="@routes.ProfileController.showProfile(profile.userId.get)">@profile.username</a></h3>

	</section>

 	<section class="well">

		@if(profileForm.hasGlobalErrors){
			<div class="alert alert-danger">
				@profileForm.globalErrors.head.message
			</div>
		}

		@if(profileForm.hasErrors){
			<div class="alert alert-danger">
				@profileForm.errors.head.message
			</div>
		}

		@form(action = routes.ProfileController.updateProfile(profile.userId.get), 'class -> "form-horizontal"){


			<div class="form-group @if(profileForm("fullname").error.isDefined){ has-error }">
				<label class="control-label col-sm-3" for="applicationUser.fullname">
					@messages("name.title")
				</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" id="applicationUser.fullname" name="fullname" placeholder="@messages("register.name.placeholder")" maxlength="120" value="@profileForm("fullname").value.getOrElse(profile.fullname.getOrElse(""))" />
				</div>
			</div>


			<div class="form-group @if(profileForm("email").error.isDefined){ has-error }">
				<label class="control-label col-sm-3" for="applicationUser.email">
					@messages("register.email")
				</label>
				<div class="col-sm-7">
					<input type="email" class="form-control" id="applicationUser.email" name="email" placeholder="@messages("register.email.placeholder")" maxlength="120" value="@profileForm("email").value.getOrElse(profile.email.getOrElse(""))"/>
				</div>
			</div>

			<div class="form-group row">
            <div class="col-sm-3 col-sm-offset-9">
					<button type="submit" class="btn btn-success btn-block">@messages("profile.action")</button>
				</div>
			</div>

		}
	</section>



 	<section class="well">

		@form(action = routes.ProfileController.showChangePassword(profile.userId.get), 'class -> "form-horizontal"){

			<div class="form-group row">
            <div class="col-sm-3 col-sm-offset-9">
					<button type="submit" class="btn btn-warning btn-block">@messages("profile.password.action")</button>
				</div>
			</div>

		}

	</section>



 	<section class="well">

		@form(action = routes.ProfileController.showDeleteProfile(profile.userId.get), 'class -> "form-horizontal"){

			<div class="form-group row">
            <div class="col-sm-3  col-sm-offset-9">
					<button type="submit" class="btn btn-danger btn-block">@messages("profile.delete.action")</button>
				</div>
			</div>

		}

	</section>

 	<div class="well">

		<div class="form-group row container-fluid">
         <div class="col-sm-3 col-sm-offset-9">
				<a href="@routes.Application.index()" class="btn btn-default btn-block">@messages("return.action")</a>
			</div>
		</div>

	</div>
}
