@(resetPasswordForm: Form[(String,String)])(implicit flash: Flash, messages: Messages)

@import helper._


@main{

 	<section class="well">

		<h3>@messages("profile.reset.title")</h3>

	</section>

 	<section class="well">


		@form(action = routes.OpenProfileController.resetPassword(), 'class -> "form-horizontal"){


			@if(resetPasswordForm("username").error.isDefined){
				<div class="alert">@resetPasswordForm("username").error.get.message</div>
			}
			<div class="form-group">
			<!-- <div class="control-group @if(resetPasswordForm("username").error.isDefined){ error }"> -->
				<label class="control-label col-sm-4" for="username">
					@messages("register.username")
				</label>
				<div class="col-sm-4">
					<input type="text" class="input-xlarge" id="username" name="username" placeholder="@messages("profile.reset.username.placeholder")" required maxlength="120" value="@resetPasswordForm("username").value.getOrElse("")"/>
				</div>
			</div>


			@if(resetPasswordForm("email").error.isDefined){
				<div class="alert">@resetPasswordForm("email").error.get.message</div>
			}
			<div class="form-group @if(resetPasswordForm("email").error.isDefined){ error }">
				<label class="control-label col-sm-4" for="email">
					@messages("register.email")
				</label>
				<div class="col-sm-4">
					<input type="email" class="input-xlarge" id="email" name="email" placeholder="@messages("register.email.placeholder")" required maxlength="120" value="@resetPasswordForm("email").value.getOrElse("")"/>
				</div>
			</div>



			<div class="form-group">
				<div class="col-sm-3 col-sm-offset-4">
					<button type="submit" class="btn btn-warning btn-block">@messages("profile.reset.action")</button>
				</div>
				<div class="col-sm-3">
					<a href="@routes.Application.index" class="btn btn-default btn-block">@messages("cancel.action")</a>
				</div>
			</div>

		}
	</section>

}
